---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import KyterIcon from "../components/icons/kyter.svg?raw";
---

<Layout title="Kyter">
  <main>
    <div class="logo-container">
      <Fragment set:html={KyterIcon} />
      <h1>Kyter</h1>
    </div>
    <div class="links">
      <a href="https://github.com/Kyter-com" target="_blank"
        ><code>GitHub</code>
      </a>
      <a href="https://mastodon.social/@Kyter" target="_blank"
        ><code>Mastodon</code>
      </a>
      <a href="https://x.com/Kyter_com" target="_blank"><code>X</code></a>
    </div>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://github.com/Kyter-com/chronoclip"
        title="chronoclip"
        body="Chrome extension for exploring timestamps and converting into other formats"
      />
      <Card
        href="https://github.com/Kyter-com/vschn"
        title="vschn"
        body="Visual Studio Code extension for viewing HackerNews templated into coding languages"
      />
      <Card
        href="https://github.com/Kyter-com/kyter.com"
        title="kyter.com"
        body="This website"
      />
      <Card
        href="https://github.com/Kyter-com/github-trending-scraper"
        title="github-trending-scraper"
        body="A Python web scraping script to get the trending repository of the day for a given language"
      />
      <Card
        href="https://github.com/Kyter-com/github-trending-python"
        title="github-trending-python"
        body="A Python web scraping script to get the trending repository of the day for a given language"
      />
      <Card
        href="https://github.com/Kyter-com/github-trending-go"
        title="github-trending-go"
        body="A bot that posts the trending GitHub Go repository on Mastodon every day"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #25262b;
  }
  .links {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background-color: #25262b;
    padding: 1.5rem;
    border-radius: 8px;
  }
  .links a {
    text-decoration: underline;
    color: #ffca43;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .links code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: #ffca43;
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .links strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    /* Add space between the elements */
    gap: 2rem;
  }
</style>
